body{
	margin: 0;
	padding: 0;
	background-image: url(images/hawaii_background.png);
	color: black;
}

.container{
	width: 90%;
	background: #ffffff;
	color: black;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	box-sizing: border-box;
	box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.2);
	
}

.container h1{
	background-color: #d9d9d9;
	margin: 0;
	padding: 20px;
	font-family: Verdana, Geneva, sans-serif;
}

.buttonStyle{
	display: inline-block;
	cursor: pointer;
	padding: 20px 20px;
	background-color: #4CAF50;
	margin: 4px 2px;
}

.feedbackContainer{
	text-align: left;
	margin: auto;
	padding-top: 30px;
}
.modal{
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
	text-align: left;
}

.modal-content{
	background-color: #f4f4f4;
	margin: 10% auto;
	padding: 20px;
	width: 70%;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,17);
	overflow: auto;
	text-align: left;
	
}

.modal-content ul{
    list-style-type: none;
	margin: 0;
    padding: 0;
}
.modal-content li a {
    display: block;
    color: black;
    padding: 16px 16px;
    text-decoration: none;
}

.modal-content li a:hover {
    background-color: #e6e6e6;
}


.closeBtn{
	color: #000;
	float: right;
	font-size: 30px;
}
.closeBtn:hover, closeBtn:focus{
	color: #000;
	text-decoration:none;
	cursor:pointer;
}
